* {
	margin: 0;
}
html, body {
	height: 100%;
	background-color: grey;
}
#overlay_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0,0,0,0.5); /*dim the background*/
}
#overlay_body {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -2em;
}
#top_space {
	width: 100%;
	height: 12%;
}
#layout_table {
	width: 100%;
}
.side_space {
	width: 20%;
}
.main_space {
	width: 60%;
}
#main_div {
	background-color: white;
	box-shadow: 10px 10px 5px #424242;
}
#top_bar {
	background-color: black;
}
#top_bar_text {
	color: white;
}
.top_bar_space {
	font-size: 5px;
}
input {
	font-size: 10pt;
}
input[type=text] {
	padding: 5px;
	border: 1px solid #ccc;
	width: 100%;
}
input[type=text]:focus {
	border-color: #333;
}
input[type=submit] {
	color: white;
	padding: 5px 15px;
	background: #8181F7;
	border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	margin-left: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
}
textarea {
	font-size: 10pt;
	padding: 5px;
	border: 1px solid #ccc;
	width: 100%;
}
#bottom_bar {
	background-color: #F2F2F2;
}
#bottom_bar_layout {
	width: 100%;
}
#bottom_bar_left {
	width: 50%;
	text-align: left;
}
#bottom_bar_right {
	width: 50%;
	text-align: right;
}
.bottom_button {
	color: white;
	padding: 5px 15px;
	background: #8181F7;
	border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 9pt;
}
.footer, .push {
	height: 2em;
	text-align: center;
}
.footer_text {
	font-size: 8pt;
}